<!DOCTYPE html>
<html>

<head>
  <title>Document</title>
</head>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>

<body>
  <div id="app">
    <h3 :class=cl+bl>{{msg}}</h3>
    <h3>数组：{{checked}}</h3>
    <h3>对象：{{foo}}</h3>
    <input type="text" v-model=msg>
    <button ref='btn' @click="set($event,1,2)">{{msg}}</button>
    <br>
    <!-- <input type="checkbox" true-value='选中' false-value='未选中' v-model='cbox'> -->
    <input type="checkbox" value='jack' v-model='checked'>
    <input type="checkbox" value='tom' v-model='checked'>
    <input type="checkbox" value='mary' v-model='checked'>
    <br>
    <input type="radio" value='jack' v-model='picked'>
    <input type="radio" value='tom' v-model='picked'>
    <input type="radio" value='mary' v-model='picked'>
    <br>
    <select v-model='selected'>
      <option disabled value="">请选择</option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
    </select>
    <p>computed</p>
    <p>{{whichSelect}}</p>
    <p>{{whichSelect}}</p>
    <p>{{whichSelect}}</p>
    <br>
    <p>filters</p>
    <p>{{whichSelect | format}}</p>
    <p>{{whichSelect | toLowerCase}}</p>
    <!-- <p>{{whichSelect | format}}</p> -->

    <!-- <p>{{whichSelect()}}</p> -->
    <!-- <p>{{whichSelect()}}</p> -->
    <!-- <p>{{whichSelect()}}</p> -->

    <br>
    <select v-model='selectedM' multiple>
      <option disabled value="">请选择</option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
    </select>
    <br>
    <input type="text" v-model='whichSelect'>

  </div>
  <template id="root">
    <div>
      {{msg}}
    </div>
  </template>
</body>
<script>
  // Vue.filter('toLowerCase',t => {
  // })
  Vue.filter('toLowerCase', function(t) {
    //console.log(this);
    return t.toLowerCase()
  })
  const vm = new Vue({
    el: '#app',
    template: document.querySelector('#root'),
    render(h){
      return  h('ul',{class: 'ul'},[
        h('li',{class:'li'},'li '+this.msg),
        h('li',{class:'li'},'li '+this.msg)
      ])
    },
    data: {
      msg: 'mvvm',
      checked: ['jack', 'tom'],
      picked: 'tom',
      selected: 'C',
      selectedM: ['A', 'B'],
      cl: 'Blue',
      bl: 'Blue',
      foo: {
        a: 123,
        b: {
          c: 456
        }
      }
    },
    computed: {
      // whichSelect(){
      //   // return '选择的是'+this.selected
      //   return '选择的是'+Math.random()
      // }
      whichSelect: {
        get() {
          return this.cl
        },
        set(nv) {
          this.cl = nv
        }
      }
    },
    filters: {
      format:(t)=> {
       // console.log(this);
        return t.toUpperCase()
      }
    },
    watch: {
      whichSelect:'a',
      // whichSelect: function(){
      //   console.log(this);
      // },
      // whichSelect:['a','b',function(){console.log(this);}]
      
    },

    methods: {
      a(nv, ov){
        console.log(nv, ov);
      },
      b(){
        console.log('b');
      },
      c(){
        console.log('c');
      },
      d(){
        console.log('d');
      },
      async set(e, o, t) {
        console.log(this.$refs.btn.innerHTML);
        //console.log(this.msg);
        this.msg = '异步后T';
        await this.$nextTick()
        console.log(this.$refs.btn.innerHTML);
        console.log(this.$refs.btn.innerHTML);
        //console.log(this.msg);
      }
    }
  })
</script>

</html>