.Button__Container{
    height:43px;
    line-height: 43px;
    width: 200px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    overflow: visible;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    transition: all .5s ease 0s;
    .Button__Text{
        cursor: pointer;
    }
    &--primary{
        background-color: #E01222;
        &:hover{
            background-color: #ED2941;
            box-shadow: 0 0 0 #333333;
        }
    }
    &--gray{
        background-color: #efefef;
        color: #000;
    }
    &--small{
        background-color: #E01222;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        width: 90px;
    }
    &.Button__Container--ghost{
        border: 1px solid #E01222;
        background-color: #fff;
        color: #000;
        font-size: 12px;
    }
}