.Header__Wrapper {
  .Header__Top {
    a {
      text-decoration: none;
    }
    background-color: #f3f3f3;
    .Header__Top__Content {
      width: 1000px;
      margin: 0 auto;
      text-align: right;
      height: 28px;
      line-height: 28px;
      font-size: 12px;
      color: #a8a8a8;
      div {
        float: right;
      }
      .Header__Top_UnSign {
        a {
          color: #d70c25;
        }
      }
      .Header__Top_Links {
        a {
          color: #a8a8a8;
          position: relative;
          z-index: 1;
          margin-right: 20px;
          padding-left: 18px;
          background: no-repeat 0;
          background-size: 15px;
          float: left;
          .Header__Top_QR_Box {
            position: absolute;
            top: 27px;
            left: -38%;
            width: 106px;
            height: 106px;
          }
        }
      }
      .Header__Top_country {
        position: relative;
        background: no-repeat 0;
        background-size: 20px;
        padding-left: 26px;
        padding-right: 22px;
      }
    }
  }
  .Header__Nav {
    padding: 22px 0 17px 0;
    width: 1000px;
    margin: 0 auto;
    .Header__Nav_Logo {
      float: left;
    }
    .Header__Nav_Content {
      float: right;
      text-align: right;
      height: 42px;
      margin-top: 16px;
      font-size: 14px;
      color: #656565;
      a {
        color: #656565;
        text-decoration: none;
				&:hover{
          color: #e01222;
				}
      }
      .Header__Nav_Item {
        height: 100%;
        float: left;
        margin-left: 39px;
        cursor: pointer;
        position: relative;
        .Hover_Item_Container {
          position: absolute;
          z-index: 9990;
          top: 0;
          .Hover_Item_Icon {
            position: absolute;
            top: 30px;
            left: 20px;
            width: 0;
            height: 0;
            background-color: transparent;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 10px solid rgba(224, 18, 35, 0.8);
          }
          .Hover_Item_Content {
            height: 210px;
            position: absolute;
            top: 39px;
            background-color: rgba(224, 18, 35, 0.9);
          }
          .Hover_Item_Content_List__Container {
            width: 620px;
            padding-top: 20px;
            z-index: 9992;
            position: absolute;
            top: 30px;
            left: -282px;
            ul {
              float: left;
              text-align: left;
							width: 206px;
              li {
                min-width: 112px;
                text-align: center;
                height: 28px;
                line-height: 28px;
                a {
                  color: #ffffff;
                }
              }
            }
          }
        }
      }
    }
  }
}
