.modal_area_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(204,204,204, .6);
  z-index: 10;
  .modal_area{
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    //background-color: rgba(255, 255, 255, .9);
    box-sizing: border-box;
  }
}

.modal_alert_area {
  padding: 5px;
  width: 300px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 5px;
  .modal_alert_close_btn {
    text-align: center;
    padding: 5px;
    background-color: #f5f5f5;
    border: 1px solid #d4d4d4;
    border-top: none;
    button{
      border-radius: 5px;
      border: 1px solid #bbb;
      color: #666666;
      width: 70px;
      line-height: 26px;
      cursor: pointer;
      margin: 0 5px;
      background: linear-gradient(to bottom,#fff 0,#e6e6e6 100%);
    }
  }

  .modal_alert_content {
    font-size: 12px;
    font-weight: 700;
    .modal_alert_content_title{
      color: #777;
      height: 16px;
      line-height: 16px;
      margin-bottom: 6px;
      .modal_alert_close_icon{
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 8px;
        float: right;
        cursor: pointer;
      }
    }
    .modal_alert_content_text{
      border: 1px solid #d4d4d4;
      min-height: 60px;
      padding: 10px;
      background-color: #fff;
      line-height: 20px;
      font-size: 14px;
    }
  }
}

.modal_confirm_area {
  padding-bottom: 25px;
  background-color: #fff;
  .modal_confirm_content_area {
    font-size: 12px;
    .modal_confirm_content_title{
      padding-left: 25px;
      line-height: 30px;
    }
    .modal_confirm_content_text{
      text-align: center;
      padding: 30px;
      font-size: 16px;
    }
  }

  .modal_confirm_btn_area {
    text-align: center;
    button{
      width: 90px;
      height: 37px;
      line-height: 37px;
      background-color: #d0000d;
      color: #fff;
      font-size: 12px;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
      &+button{
        margin-left: 5px;
      }
    }
  }
}