.Order_Detail_PassageInfo{
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #727171;
    color: #ffffff;
    span{
        margin: 0 15px;
    }
}
.Order_Detail_FlightInfo_Icon{
    float: left;
    width: 165px;
    height: 210px;
    background: no-repeat center top;
}
.Order_Detail_FlightInfo_SelectBox{
    float: left;
    width: 55px;
    height: 210px;
    margin-left: 25px;
    padding-top: 25px;
}
.Order_Detail_FlightInfo_details{
    padding-top: 25px;
    float: left;
    font-size: 14px;
    .FlightInfo_DepartInfo,.FlightInfo_ArriveInfo,.FlightInfo_FlightNum,.FlightInfo_Cabin{
        float: left;
        text-align: left;
        .FlightInfo__Top{
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .FlightInfo__Bottom{
            color: #898989;
        }
    }
    .FlightInfo_Middle_Icon{
        float: left;
        width: 90px;
        height: 27px;
        margin-left: 10px;
        background: no-repeat center left/71px;
    }
    .FlightInfo_FlightNum{
        margin:0 30px 0 10px;
    }
    .FlightInfo_AddService{
        margin: 25px 0 30px 0;
        line-height: 20px;
        div{
            float: left;
        }
        .FlightInfo_AddService__Brand{
            width: 208px;
        }
        .FlightInfo_AddService__SeatNum{
            width: 90px;
        }
        .FlightInfo_AddService__Baggage{
            width: 106px;
        }
        .FlightInfo_AddService__StopOver{
            width: 80px;
        }
        .FlightInfo_AddService__Meal{
            .FlightInfo_AddService__Meal_Item{
                float: right;
            }
        }
    }
    .FlightInfo_Refund_Content{
        position: relative;
        line-height: 70px;
        .FlightInfo_Refund_Rules{
            margin-right: 58px;
            a{
                color: #666666;
                text-decoration: none;
            }
        }
        .Refund_Detail_Status{
            margin-left: 30px;
        }
        .FlightInfo_Status{
            color: #ff0000;
        }
    }
    .FlightInfo_AddService__Insurance{
        margin-bottom: 15px;   
        h5{
            font-size: 14px;     
            color: red;
        }
        div{
            line-height: 25px;
            span{
                margin-right: 56px;
                &:last-of-type{
                    margin-right: 30px;
                }
            }
        }
    }
}
.FlightInfo_Refund_Rules__hide{
    display: none;
}