
.OrderDetail_Status__Content{
    padding: 25px 0 0 15px;
    .OrderDetail_Status_Id{
        color: #e01222;
        margin-bottom: 20px;
        a:link{
            color: #e01222;
        }
    }
    .OrderDetail_Status_Tip{
        font-size: 14px;
        color: #808080;
    }
    .OrderDetail_Status{
        margin: 30px 0;
        font-size: 16px;
        font-weight: 100;
        i{
            display: inline-block;
            width: 18px;
            height: 18px;
            vertical-align: middle;
        }
    }
}