.Refund_Application_Confirm_Content{
    background-color: #2a369c;
    h4{
        line-height: 46px;
        margin-left: 20px;
        color: #ffffff;
    }
    .Refund_Application_Confirm_Details{
        background-color: #ffffff;
        h4{
            color: #000;
        }
    }
    .Refund_Application_Confirm_Amount{
        padding: 180px 0 20px 18px;
        p{
            color: #ff0000;
            font-size: 14px;
            font-weight: 700;
        }
    }
}