.Ticket_Order_Detail_Operation{
    padding: 25px 0 15px 7px;
    box-sizing: border-box;
    div{
        float: left;
        width: 200px;
        height: 43px;
        line-height: 43px;
        border-radius: 3px;
        background-color: #efefef;
        margin: 0 10px 10px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
    }
}