.fixFloat {
  &:after {
    content: " ";
    display: table;
    height: 0;
    line-height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;
  }
   &:before {
     content: " ";
     display: table;
     height: 0;
     line-height: 0;
     clear: both;
     font-size: 0;
     visibility: hidden;
   }
}
