.Ticket_Order_Change_Success__Container{
  width: 1000px;
  margin:0 auto;
  .Order_Change_Success_Info{
    .Order_Change_Success_Info_Detail{
      padding: 28px 15px;
      color: #e01222;
      a{
        margin-right: 40px;
      }
      span{
        font-size: 16px;
        line-height: 38px;
        display: inline-block;
      }
      .Order_Change_Success_Info_Passengers{
        margin-right: 35px;
      }
      p{
        font-size: 14px;
        line-height: 30px;
        color: #808080;
      }
      .Order_Change_Success_Pay_Amount{
        line-height: 70px;
        color: #000;
      }
    }
  }
  .Order_Change_Success_Tips{
    background-color: #F4F4F4;
    padding: 25px 50px 15px;
    font-size: 14px;
    line-height: 16px;
    border-top: 1px solid #e3e3e3;
    li{
        list-style-type: square;
        padding-left: 10px;
        margin-bottom: 10px;
    }
  }
}